@use "./variables.scss" as *;

// put your custom CSS here!

.tags {
  justify-content: flex-start !important;
  text-align: left !important;
}

article {
  line-height: 1.7;
  word-break: keep-all;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
