@use "./variables.scss" as *;

// put your custom CSS here!

.tags {
  justify-content: flex-start !important;
  text-align: left !important;
}

article {
  line-height: 1.7;
  word-break: keep-all;
}
